:root{
    --main-background-color: #2C69C6B3;
    --main-background-white: white;
    --main-dark-overlay-background: #0000009d; 
}
.base_bar{
    display: block;
    background-color: var(--main-background-color);
}