<div id="bottom-nav" class="main_bar">
    <div class="nav-el">
      <a href="https://uwi-ar-maps.herokuapp.com/home">
        <img src="../static/icons/home.svg" alt="home"/></a>
    </div>
    <div class="nav-el">
      <a href="https://uwi-ar-maps.herokuapp.com/map">
        <img src="../static/icons/map-pin.svg" alt="map"/>
      </a> 
    </div>
    <div class="nav-el">
      <a href="https://uwi-ar-maps.herokuapp.com/scan">
        <img src="../static/icons/qr-code.svg" alt="scan"/>
      </a> 
    </div>
    <div class="nav-el">
      <a href="https://uwi-ar-maps.herokuapp.com/nav">
        <img src="../static/icons/ar-view.svg" alt="ar"/>
      </a> 
    </div>
</div>