
  <div id="overlay">
    <p> < Swipe to go back</p><br>
    <form action="{{ url_for('ar_find') }}" method="GET" enctype="multipart/form-data">
      {{ form.csrf_token }}
        <div class="form-element">
            <h6 class="form-text">{{ form.myLocation.label }} </h6>
            {{ form.myLocation }}
        </div><br>
        <div class="form-element">
          <h6 class="form-text">{{ form.myDestination.label }} </h6>
          <p>Enter Destination</p>
            {{ form.myDestination }}
        </div><br>
        <button type="submit" class="searchBtn">Search</button>

    </form>
  </div>

