<div id="bottom-nav" class="main_bar">
      <div class="nav-el">
        <a href="http://localhost:8080/home">
          <img src="../static/icons/home.svg" alt="home"/></a>
      </div>
      <div class="nav-el">
        <a href="http://localhost:8080/map">
          <img src="../static/icons/map-pin.svg" alt="map"/>
        </a> 
      </div>
      <div class="nav-el">
        <a href="http://localhost:8080/scan">
          <img src="../static/icons/qr-code.svg" alt="scan"/>
        </a> 
      </div>
      <div class="nav-el">
        <a href="http://localhost:5000/nav">
          <img src="../static/icons/ar-view.svg" alt="ar"/>
        </a> 
      </div>
  </div>
