:root{
    --main-background-color: rgba(44, 105, 198, .7);
}

body{
    height: 100%;
    width: 100%;
    font-family: Public Sans, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.main_bar{
    display: block;
    /* opacity: 71%; */
}

#app-bar{
    height: 3.5rem;
    width: 100%;
    background-color: var(--main-background-color);
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 10;
}

#v-title{
    width: fit-content;
    text-align: center;
    padding: 0.5rem 1rem;
    color: whitesmoke;
}

#main-content{
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 3.5rem 0rem;
    background-color: whitesmoke;
}

#bottom-nav {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    position: absolute;
    bottom: 0;
    padding: .1rem;
    z-index: 10;
}

.nav-el{
    width: 3rem;
    height: 100%;
    margin: 0rem 1rem;
    padding: 0.5rem;
    display: block;
    border-radius: 0.5rem;
}

.nav-el:hover{
    background-color: var(--main-background-color);   
}

.nav-el a img{
    width: 75%;
    height: auto;
    margin: .4rem;
}

/* Styling for top header component */

#overlay {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--main-background-color);
    z-index: 2;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(49, 49, 49);
  }

#overlay > form{
    display: flex;
    flex-direction: column;
}

.searchBtn{
    background-color: #163881;
    color: #ffffff;
    border: 1px;
    transition: all .2s ease-in;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30rem 2px 30rem;
    cursor: pointer;
    border-radius: 8px;
}

.searchBtn:hover{
    background-color: #fff;
    color: #163881;
    cursor: pointer;
}

.form-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-element label{
    color: white;
}

.form-element input{
    color: rgb(153, 153, 153);
    font-size: large;
    border: 0;
    box-shadow: 0px 0px .5px .5px #777777;
    padding: 0 3rem 0 3rem;
    border-radius: 5px;
    height: 30px;
    vertical-align: text-bottom;
    text-shadow: 1px 1px 1px #8f8f8f9b;
}

.form-element > svg{
    vertical-align: text-bottom;
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(27, 27, 27, 0.7));
    filter: drop-shadow( 1px 1px 1px rgba(27, 27, 27, 0.7));
}

