:root{
    --main-background-color: #2C69C6B3;
    --main-background-white: white;
    --main-dark-overlay-background: #0000009d; 
    --main-blue: rgb(44, 105, 198,0.63);
    --smoky-white: rgb(245, 245, 245);
    --accordian-blue: rgb(44, 105, 198,0.47); 
}

body{
    height: 100%;
    width: 100%;
	font-family: PoppiAvenir, Helvetica, Arialns, sans-serif;
    overflow: hidden;   
}


#main-content{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 0;
    overflow: hidden;
}

.base_bar{
    display: block;
    background-color: var(--main-background-color);
}

#main-content{
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    overflow-x:hidden;
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 3.5rem 0rem;
    background-color: whitesmoke;
}

div.a-enter-vr, div.a-enter-ar{
    display: none !important;
}